<v-app :dark="darkMode">
  <v-navigation-drawer
    v-model="menuVisible"
    clipped
    overflow
    fixed
    width="380"

    height="calc(100% - 48px)"
    style="top: 48px;"
  >
    <controls-drawer />
  </v-navigation-drawer>

  <v-navigation-drawer
    v-model="advanceMenuVisible"
    clipped
    overflow
    fixed
    right

    height="calc(100% - 48px)"
    style="top: 48px;"
  >
    <global-settings />
  </v-navigation-drawer>

  <v-toolbar clipped-left app absolute dense :class="$style.toolbarOverride">
    <v-btn icon @click.stop="menuVisible = !menuVisible">
      <v-icon>graphic_eq</v-icon>
    </v-btn>

    <v-toolbar-title class="ml-0">Micro Quake 3D</v-toolbar-title>

    <v-spacer />
    <toolbar-time-range v-if="!menuVisible"/>
    <v-spacer />

    <v-layout align-center justify-end>
      <v-btn-toggle
        v-model="doubleClickMode"
        mandatory
      >
        <v-tooltip bottom>
          <span>Double-clicking triggers waveform UI</span>
          <v-btn flat slot="activator">
            <v-icon>graphic_eq</v-icon>
          </v-btn>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Double-clicking retrieves event rays</span>
          <v-btn flat slot="activator">
            <v-icon>language</v-icon>
          </v-btn>
        </v-tooltip>
      </v-btn-toggle>

      <v-layout style="flex: none" class="mx-4">
        <v-layout d-flex align-center>
          <v-btn-toggle
            v-model="raysVisible"
            :class="$style.selectButton"
          >
            <v-tooltip bottom>
              <span>Show/Hide Event Rays</span>
              <v-btn
                dense
                flat
                v-bind:disabled="raysInScene === false"
                slot="activator"
              >
                <v-icon>language</v-icon>
              </v-btn>
            </v-tooltip>
          </v-btn-toggle>
        </v-layout>
        <v-layout d-flex align-center>
          <v-select
            :class="$style.toolbarSelect"
            v-model="rayFilterMode"
            :items="rayFilterModes"
            item-text="label"
            item-value="value"
            label="Ray Filter Mode"
            v-bind:disabled="raysInScene === false"
            flat
            solo
            dense
            return-object
            single-line
            hide-details
            height="36"
          ></v-select>
        </v-layout>
      </v-layout>

      <v-btn-toggle
        v-model="componentsVisibility"
        multiple
        class="mr-2"
      >
        <v-tooltip bottom>
          <span>Show/Hide Mine</span>
          <v-btn flat slot="activator">
            <v-icon>location_city</v-icon>
          </v-btn>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Show/Hide Seismic events</span>
          <v-btn flat slot="activator">
            <v-icon>bubble_chart</v-icon>
          </v-btn>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Show/Hide Blast</span>
          <v-btn flat slot="activator">
            <v-icon>offline_bolt</v-icon>
          </v-btn>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Show/Hide Historical events</span>
          <v-btn flat slot="activator">
            <v-icon>update</v-icon>
          </v-btn>
        </v-tooltip>
        <v-divider vertical />
        <v-tooltip bottom>
          <span>Show/Hide Uncertainty</span>
          <v-btn flat slot="activator">
            <v-icon>settings_ethernet</v-icon>
          </v-btn>
        </v-tooltip>
      </v-btn-toggle>

      <v-divider vertical />

      <v-tooltip bottom>
        <span>Toggle Settings</span>
        <v-btn
          slot="activator"
          flat
          icon
          @click.stop="advanceMenuVisible = !advanceMenuVisible"
          class="mx-2"
        >
          <v-icon>settings</v-icon>
        </v-btn>
      </v-tooltip>
    </v-layout>
  </v-toolbar>
  <v-content style="background: darkgray; position: relative;">
    <progress-bar :progress="busyProgress" />
    <picking-tooltip>
      <vtk-view v-if="client"/>
    </picking-tooltip>
  </v-content>
</v-app>
