stages:
- base
- build
- test
- docker
- deploy

variables:
  CLI_VERSION: 7.2.3
  DOCKER_DRIVER: overlay2
  BASE_IMAGE: ${CI_REGISTRY_IMAGE}/ui
  UI_IMAGE: ${CI_REGISTRY_IMAGE}/ui
  CI_APPLICATION_TAG: $(echo ${CI_COMMIT_SHA} | cut -c1-8)

base:
  image: docker:stable
  stage: base
  services:
  - name: docker:stable-dind
    entrypoint:
    - dockerd-entrypoint.sh
  before_script:
  - apk add --update openssh-client make ca-certificates openssl python git bash
  script:
  - eval $(ssh-agent -s)
  - bash -c 'ssh-add <(echo "$SSH_PRIVATE_KEY")'

  - mkdir -p ~/.ssh
  - chmod -R 700 ~/.ssh
  - ssh-keyscan -H git.microquake.org >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - git submodule update --init --recursive
  - update-ca-certificates

  - cd docker
  - docker login -u deploy -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build . -t $BASE_IMAGE:latest -t $BASE_IMAGE:$(echo $CI_COMMIT_SHA | cut -c1-8) --build-arg SSH_PRIVATE_KEY
  - docker push $BASE_IMAGE:latest
  - docker push $BASE_IMAGE:$(echo $CI_COMMIT_SHA | cut -c1-8)

build:
  stage: build
  image: node:10
  script:
  - cd client/vue
  - ng build
  artifacts:
    expire_in: 2 months
    paths:
      client/www

docker:
  image: docker:stable
  stage: docker
  services:
  - name: docker:stable-dind
    entrypoint:
    - dockerd-entrypoint.sh
  before_script:
  - apk add --update openssh-client make ca-certificates openssl python git bash
  script:
  - eval $(ssh-agent -s)
  - bash -c 'ssh-add <(echo "$SSH_PRIVATE_KEY")'

  - mkdir -p ~/.ssh
  - chmod -R 700 ~/.ssh
  - ssh-keyscan -H git.microquake.org >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - git submodule update --init --recursive
  - update-ca-certificates

  - docker login -u deploy -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build . -t $UI_IMAGE:latest -t $UI_IMAGE:$(echo $CI_COMMIT_SHA | cut -c1-8) --build-arg SSH_PRIVATE_KEY
  - docker push $UI_IMAGE:latest
  - docker push $UI_IMAGE:$(echo $CI_COMMIT_SHA | cut -c1-8)
