stages:
- base
- build
- test
- docker
- deploy

variables:
  CLI_VERSION: 7.2.3
  DOCKER_DRIVER: overlay2
  BASE_IMAGE: ${CI_REGISTRY_IMAGE}/base
  UI_IMAGE: ${CI_REGISTRY_IMAGE}/ui
  CI_APPLICATION_TAG: $(echo ${CI_COMMIT_SHA} | cut -c1-8)

base:
  image: docker:stable
  stage: base
  services:
  - name: docker:stable-dind
    entrypoint:
    - dockerd-entrypoint.sh
  only:
    changes:
      - docker/**/*
  before_script:
  - apk add --update openssh-client make ca-certificates openssl python git bash
  script:
  - eval $(ssh-agent -s)
  - bash -c 'ssh-add <(echo "$SSH_PRIVATE_KEY")'

  - mkdir -p ~/.ssh
  - chmod -R 700 ~/.ssh
  - ssh-keyscan -H git.microquake.org >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - git submodule update --init --recursive
  - update-ca-certificates

  - cd docker
  - docker login -u deploy -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build . -t $BASE_IMAGE:latest -t $BASE_IMAGE:$(echo $CI_COMMIT_SHA | cut -c1-8) --build-arg SSH_PRIVATE_KEY
  - docker push $BASE_IMAGE:latest
  - docker push $BASE_IMAGE:$(echo $CI_COMMIT_SHA | cut -c1-8)

build:
  stage: build
  image: node:10
  script:
  - cd client
  - npm install
  - npm run build
  artifacts:
    expire_in: 2 months
    paths:
    - www

docker:
  image: docker:stable
  stage: docker
  dependencies:
  - build
  services:
  - name: docker:stable-dind
    entrypoint:
    - dockerd-entrypoint.sh
  before_script:
  - apk add --update openssh-client make ca-certificates openssl python git bash
  script:
  - eval $(ssh-agent -s)
  - bash -c 'ssh-add <(echo "$SSH_PRIVATE_KEY")'

  - mkdir -p ~/.ssh
  - chmod -R 700 ~/.ssh
  - ssh-keyscan -H git.microquake.org >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - git submodule update --init --recursive
  - update-ca-certificates

  - docker login -u deploy -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build . -t $UI_IMAGE:latest -t $UI_IMAGE:$(echo $CI_COMMIT_SHA | cut -c1-8) --build-arg SSH_PRIVATE_KEY
  - docker push $UI_IMAGE:latest
  - docker push $UI_IMAGE:$(echo $CI_COMMIT_SHA | cut -c1-8)

kube:
  image: docker:stable
  stage: deploy
  services:
    - name: docker:stable-dind
      entrypoint:
        - dockerd-entrypoint.sh
  before_script:
    - apk add --update openssh-client make ca-certificates openssl python git bash
  script:
    - wget https://storage.googleapis.com/kubernetes-release/release/${KUBE_VERSION}/bin/linux/amd64/kubectl
    - chmod +x kubectl
    - echo "$KUBE" > admin.conf
    - ./kubectl --kubeconfig admin.conf set image deployment.v1.apps/threed-ui-staging *=$UI_IMAGE:$(echo $CI_COMMIT_SHA | cut -c1-8) --record=true
