<v-container
  fluid
  class="pa-1"
  style="max-height: calc(100vh - 51px - 50px);min-height: calc(100vh - 51px - 50px);overflow: hidden;"
>
  <v-layout column>
    <v-flex :style="treeStyle" class="pb-3">
      <v-treeview
        :active.sync="active"
        :items="catalogue"
        open-on-click
        activatable
      >
        <template v-slot:prepend="{ item }">
          <v-tooltip bottom v-if="item.type">
            <span>{{ labelTypeMapping[item.type] || item.type }}</span>
            <v-icon
              slot="activator"
              v-text="$vuetify.icons[item.type] || $vuetify.icons.otherEvents"
              class="mr-2"
            />
          </v-tooltip>
        </template>
        <template v-slot:label="{ item }">
          <v-layout align-center>
            <div class="pr-1">{{ item.name }}</div>
            <v-btn icon small v-if="item.open" @click="open(item.id)">
              <v-icon small class="px-0">
                {{ $vuetify.icons.quakeTrace }}
              </v-icon>
            </v-btn>
            <div v-if="item.magnitude !== undefined" :class="$style.monospace">
              {{ item.magnitude.toFixed(1) | sign }}
            </div>
          </v-layout>
        </template>
        <template v-slot:append="{ item }">
          <v-btn icon small v-if="item.open" @click="showRays(item.id)">
            <v-icon small>{{ $vuetify.icons.rays}}</v-icon>
          </v-btn>
        </template>
      </v-treeview>
    </v-flex>
    <event-detail
      v-if="selectedEvent && selectedEvent.event_resource_id"

      :class="$style.bottom"

      :dark="darkMode"
      :event="selectedEvent"
      @close="unselectEvent"
    />
  </v-layout>
</v-container>
