<v-container
  fluid
  class="pa-1"
  style="max-height: calc(100vh - 56px - 48px - 2px);min-height: calc(100vh - 56px - 48px - 2px);overflow: hidden;"
>
  <v-layout column>
    <v-flex :style="treeStyle" class="pb-3">
      <v-treeview
        :active.sync="active"
        :items="catalogue"
        open-on-click
        activatable
      >
        <template v-slot:prepend="{ item }">
          <v-tooltip bottom v-if="item.type">
            <span
              >{{ labelTypeMapping[item.type] &&
              labelTypeMapping[item.type].text || item.type }}</span
            >
            <template v-slot:activator="{ on }">
              <v-icon
                v-on="on"
                v-if="$vuetify.icons.values[item.type] || !labelTypeMapping[item.type].value"
                v-text="$vuetify.icons.values[item.type] || $vuetify.icons.values.otherEvents"
                class="mr-2"
              />
              <div v-on="on" v-else style="min-width: 32px; padding-left: 5px;">
                {{ labelTypeMapping[item.type].value }}
              </div>
            </template>
          </v-tooltip>
        </template>
        <template v-slot:label="{ item }">
          <v-layout align-center>
            <div class="pr-1">{{ item.name }}</div>
            <v-btn icon small v-if="item.open" @click="open(item.id)">
              <v-icon small class="px-0" v-text="`$quakeTrace`" />
            </v-btn>
            <div v-if="item.magnitude !== undefined" :class="$style.monospace">
              {{ item.magnitude.toFixed(1) | sign }}
            </div>
          </v-layout>
        </template>
        <template v-slot:append="{ item }">
          <v-btn icon small v-if="item.open" @click="showRays(item.id)">
            <v-icon small v-text="`$rays`" />
          </v-btn>
        </template>
      </v-treeview>
    </v-flex>
    <event-detail
      v-if="selectedEvent && selectedEvent.event_resource_id"
      :class="$style.bottom"
      :dark="darkMode"
      :event="selectedEvent"
      :typeMapping="labelTypeMapping"
      @close="unselectEvent"
      @scatter="showScatter"
    />
  </v-layout>
</v-container>
