<div class="fullscreen-wrapper">
  <mat-card
    class="card-container hover"
  >
    <div class="card-header">
      <button class="card-menu-icon" mat-icon-button (click)="toggleExpanded()">
        <mat-icon aria-label="Show/hide menu">menu</mat-icon>
      </button>
      <div class="card-header-actions" *ngIf="expanded">
        <button
          class="card-menu-icon"
          mat-icon-button
          (click)="toggleAdvanceMode()"
          [color]="advanceMode ? 'primary' : ''"
        >
          <mat-icon aria-label="Advanced settings">tune</mat-icon>
        </button>
        <button
          class="card-menu-icon"
          mat-icon-button
          (click)="togglePicking()"
          [color]="picking ? 'primary' : ''"
        >
          <mat-icon aria-label="Toggle event picking">help_outline</mat-icon>
        </button>
        <button class="card-menu-icon" mat-icon-button (click)="orientCamera()">
          <mat-icon aria-label="Orient camera">explore</mat-icon>
        </button>
        <button class="card-menu-icon" mat-icon-button (click)="resetCamera()">
          <mat-icon aria-label="Show/hide menu">center_focus_strong</mat-icon>
        </button>
      </div>
    </div>
    <mat-card-content class="card-content" *ngIf="expanded && !advanceMode">
      <div class="card-divider">
        <mat-divider></mat-divider>
      </div>
      <section class="card-form-group">
        <div class="card-form-title">Historical Period</div>
        <div class="card-form-contents">
          <mat-radio-group
            class="radio-group"
            [(ngModel)]="historicalPeriod"
            (ngModelChange)="periodChange()"
          >
            <mat-radio-button
              color="primary"
              class="input-radio"
              [value]="8760"
            >1 Year</mat-radio-button>
            <mat-radio-button
              color="primary"
              class="input-radio"
              [value]="4380"
            >6 Months</mat-radio-button>
            <mat-radio-button
              color="primary"
              class="input-radio"
              [value]="2190"
            >3 Months</mat-radio-button>
            <mat-radio-button
              color="primary"
              class="input-radio"
              [value]="0"
            >None</mat-radio-button>
          </mat-radio-group>
        </div>
      </section>
      <section class="card-form-group">
        <div class="card-form-title space-between">
          <div>Focus Period ({{ getShortTimeLabel() }})</div>
          <div>{{ focusTimeString }}</div>
        </div>
        <div class="card-form-contents">
          <mat-slider
            invert
            style="width: 100%;"
            min="24"
            max="2190"
            step="1"
            [displayWith]="updateFocusTimeString"
            [(ngModel)]="focusPeriod"
            (ngModelChange)="periodChange()"
            color="primary"
          ></mat-slider>
        </div>
      </section>
      <app-collapsible-list [list]="events">
        <span header>Events</span>
        <ng-template #item let-item>
          <mat-checkbox
            class="input-checkbox"
            [(ngModel)]="item.checked"

            (ngModelChange)="visibilityChange()"
            color="primary"
          >
            {{ item.name }}
          </mat-checkbox>
        </ng-template>
      </app-collapsible-list>

      <app-collapsible-list
        *ngFor="let category of mineCategories"
        [list]="category.pieces"
      >
        <span header>{{ category.name }}</span>
        <ng-template #item let-item>
          <mat-checkbox
            class="input-checkbox"
            [(ngModel)]="item.checked"
            (ngModelChange)="mineVisibilityChange()"
            color="primary"
          >
            {{ item.name }}
          </mat-checkbox>
        </ng-template>
      </app-collapsible-list>
    </mat-card-content>
    <mat-card-content class="card-content" *ngIf="expanded && advanceMode">
      <div class="card-divider">
        <mat-divider></mat-divider>
      </div>
      <section class="card-form-group">
        <mat-grid-list cols="3" gutterSize="2" rowHeight="20">
          <mat-grid-tile><b>Magnitude range</b></mat-grid-tile>
          <mat-grid-tile>
            <input
              matInput
              placeholder="Minimun Magnitude"
              [(ngModel)]="minMagnitude"
              (ngModelChange)="scalingChange()"
              type="number"
            >
          </mat-grid-tile>
          <mat-grid-tile>
            <input
              matInput
              placeholder="Maximum Magnitude"
              [(ngModel)]="maxMagnitude"
              (ngModelChange)="scalingChange()"
              type="number"
            >
          </mat-grid-tile>
          <mat-grid-tile><b>Size range</b></mat-grid-tile>
          <mat-grid-tile>
            <input
              matInput
              placeholder="Minimun Size"
              [(ngModel)]="minSize"
              (ngModelChange)="scalingChange()"
              type="number"
            >
          </mat-grid-tile>
          <mat-grid-tile>
            <input
              matInput
              placeholder="Maximum Size"
              [(ngModel)]="maxSize"
              (ngModelChange)="scalingChange()"
              type="number"
            >
          </mat-grid-tile>
        </mat-grid-list>
      </section>
    </mat-card-content>
  </mat-card>
  <app-vtk-view></app-vtk-view>
</div>
