<v-expansion-panel :style="style">
  <v-expansion-panel-header style="min-height: 56px; max-height: 56px;">
    <v-container fluid grid-list-md class="pa-0">
      <v-layout row align-center>
        <v-flex xs2>
          <v-icon v-text="icon" />
        </v-flex>
        <v-flex xs10>
          <div class="body-2">{{ title }}</div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-expansion-panel-header>
  <v-expansion-panel-content :class="$style.expansionFullWidth">
    <v-card flat outlined tile :class="contentClass">
      <slot />
    </v-card>
  </v-expansion-panel-content>
</v-expansion-panel>
