<div :class="$style.noSelectChildren">
  <v-expansion-panels accordion multiple :value="[0, 1, 2, 3]">
    <expension-section
      v-show="!showCatalogue"
      id="mine"
      title="Mine"
      :icon="`$mines`"
    >
      <mine-visibility />
    </expension-section>

    <expension-section
      v-show="!showCatalogue"
      id="seismicEvents,blast"
      title="Focus period"
      :icon="`$seismicEvents`"
    >
      <focus-period />
    </expension-section>

    <expension-section
      v-show="!showCatalogue"
      id="historicEvents"
      title="Historical period"
      :icon="`$historicalEvents`"
    >
      <historical-period />
    </expension-section>

    <expension-section
      v-show="showCatalogue"
      title="Catalogue"
      :icon="`$catalogue`"
    >
      <catalogue />
    </expension-section>
  </v-expansion-panels>
</div>
