<v-radio-group v-model="historicalTime">
  <v-container fluid grid-list-md class="py-0">
    <v-layout row wrap align-center>
      <v-flex xs6>
        <v-radio label="1 Year" :value="365" />
      </v-flex>
      <v-flex xs6>
        <v-radio label="6 Months" :value="182" />
      </v-flex>
      <v-flex xs6>
        <v-radio label="3 Months" :value="91" />
      </v-flex>
      <v-flex xs6>
        <v-radio label="None" :value="0" />
      </v-flex>
    </v-layout>
  </v-container>
</v-radio-group>
