<v-container fluid grid-list-md class="py-0 px-1">
  <v-layout>
    <v-flex>
      <v-treeview
        v-model="mineVisibility"
        :items="mine"
        :selected-color="darkMode ? 'grey lighten-4' : 'grey darken-1'"
        :open="allIds"
        open-on-click
        selectable
        :expand-icon="`$expandGroup`"
        :on-icon="`$layerOn`"
        :off-icon="`$layerOff`"
        :indeterminate-icon="`$layerIndeterminate`"
        :class="$style.denseTree"
      />
    </v-flex>
  </v-layout>
</v-container>
