.noSelect {
  user-select: none;
}

.noSelectChildren * {
  user-select: none;
}

.relative {
  position: relative;
}

.toolbarOverride :global(.v-toolbar__content) {
  padding-right: 0;
}

.selectButton {
  border-radius: 2px 0 0 2px !important;
}

.toolbarSelect {
  max-width: 250px;
  border-left: 1px solid grey;
  /*padding: 2px;*/
  /*height: 40px;*/
}

.toolbarSelect :global .v-input__slot {
  border-radius: 0 2px 2px 0 !important;
}

.toolbarSelect :global .v-input__control.v-input__control {
  min-height: 20px;
}

.progress {
  left: 0;
  margin: 0 !important;
  padding: 0;
  position: absolute !important;
  right: 0;
  bottom: 0;
}

.monospace {
  font-family: monospace;
}

.thinBorder {
  border: solid #ccc 1px;
  box-shadow: none;
}

:global(.theme--dark) .thinBorder {
  border-color: #555;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.toast {
  position: absolute;
  bottom: 0;
  width: 50vw;
  left: 50vw;
  max-width: 400px;
  transform: translate(-50%, 0);
  z-index: 10;
}

:global(.v-btn-toggle) > :global(.v-btn):global(.v-btn) {
  border: none;
}

.expansionFullWidth :global(.v-expansion-panel-content__wrap) {
  padding: 0;
}

.denseTree :global(.v-treeview-node__root) {
  min-height: 32px;
}

.expansionPanels {
}

.expansionPanel button {
  padding: 10px 10px 6px 10px;
  min-height: 20px !important;
  overflow: hidden;
}

.activeEvent {
  opacity: 1;
}
.event {
  opacity: 0.45;
}
