<v-app :dark="darkMode">
  <notification-toast :class="$style.toast" />
  <v-dialog :value="!authToken" hide-overlay persistent width="400">
    <v-card class="pa-3">
      <v-card-title class="headline">Application Authentication</v-card-title>
      <v-card-text>
        <v-text-field
          label="Username"
          :value="userName"
          @input="updateUserName"
          :prepend-icon="`$username`"
          :error-messages="loginError.username"
        />
        <v-text-field
          label="Password"
          :value="userPassword"
          @input="updateUserPassword"
          :prepend-icon="`$password`"
          type="password"
          :error-messages="loginError.password"
          @keydown="loginOnEnter"
        />
      </v-card-text>
      <v-card-actions>
        <div style="color: red;">
          {{ loginError.detail || htmlError }}
        </div>
        <v-spacer />
        <v-btn @click="login">
          Login
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog
    :value="authToken && !siteSelected"
    hide-overlay
    persistent
    width="400"
  >
    <v-card class="pa-3">
      <v-card-title class="headline">Site Selection</v-card-title>
      <v-card-text>
        <v-select
          label="Site"
          :value="selectedSite"
          @input="updateSelectedSite"
          :items="siteItems"
        />
        <v-select
          label="Network"
          :value="selectedNetwork"
          @input="updateSelectedNetwork"
          :items="networkItems"
        />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn @click="selectSite">
          Open
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-navigation-drawer
    absolute
    v-if="authToken && siteSelected"
    v-model="menuVisible"
    overflow
    fixed
    width="380"
    stateless
    height="calc(100% - 48px)"
    style="top: 48px;"
  >
    <controls-drawer />
  </v-navigation-drawer>

  <v-navigation-drawer
    absolute
    v-if="authToken && siteSelected"
    v-model="advanceMenuVisible"
    overflow
    right
    stateless
    height="calc(100% - 48px)"
    style="top: 48px;"
  >
    <global-settings />
  </v-navigation-drawer>

  <v-app-bar
    clipped-left
    clipped-right
    app
    absolute
    dense
    :class="$style.toolbarOverride"
  >
    <v-tooltip bottom :disabled="!errorMessage && !heartbeat.event_connector">
      <span>{{ errorMessage }}</span>
      <span>
        Connector active {{ heartbeat.event_connector | toHoursFromNow |
        hoursFromNowToLabel }}
      </span>
      <template v-slot:activator="{ on }">
        <v-btn icon @click.stop="menuVisible = !menuVisible" v-on="on">
          <v-icon
            v-if="!errorMessage"
            :color="connectorColor"
            v-text="`$quakeTrace`"
          />
          <v-icon
            v-if="errorMessage"
            color="red"
            class="px-3"
            v-text="`$connectionError`"
          />
        </v-btn>
      </template>
    </v-tooltip>

    <v-toolbar-title class="ml-0">
      Micro Quake 3D
    </v-toolbar-title>

    <v-spacer />
    <toolbar-time-range
      v-if="(!menuVisible || ~componentsVisibility.indexOf('catalogue')) && authToken && siteSelected"
    />
    <v-spacer />

    <v-layout align-center justify-end v-if="authToken && siteSelected">
      <v-btn-toggle
        v-model="eventStatusFilter"
        mandatory
        multiple
        class="mr-4"
        :class="$style.thinBorder"
      >
        <v-tooltip bottom>
          <span>Show only accepted events</span>
          <template v-slot:activator="{ on }">
            <v-btn
              value="accepted"
              v-on="on"
              max-width="40"
              min-width="40"
              height="36"
            >
              <v-icon v-text="`$accepted`" />
            </v-btn>
          </template>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Show only rejected events</span>
          <template v-slot:activator="{ on }">
            <v-btn
              value="rejected"
              v-on="on"
              max-width="40"
              min-width="40"
              height="36"
            >
              <v-icon v-text="`$rejected`" />
            </v-btn>
          </template>
        </v-tooltip>
      </v-btn-toggle>

      <v-btn-toggle
        :value="doubleClickMode"
        @change="updateDoubleClickMode"
        mandatory
        :class="$style.thinBorder"
      >
        <v-tooltip bottom>
          <span>Double-clicking triggers waveform UI</span>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on" max-width="40" min-width="40" height="36">
              <v-icon v-text="`$quakeTrace`" />
            </v-btn>
          </template>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Double-clicking retrieves event rays</span>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on" max-width="40" min-width="40" height="36">
              <v-icon v-text="`$rays`" />
            </v-btn>
          </template>
        </v-tooltip>
      </v-btn-toggle>

      <v-layout style="flex: none" class="mx-4" :class="$style.thinBorder">
        <v-layout d-flex align-center>
          <v-btn-toggle v-model="raysVisible" :class="$style.selectButton">
            <v-tooltip bottom>
              <div>
                Show/Hide Event Rays
                <br />(
                <span style="background: #007bff;" class="px-1">P</span>
                /
                <span style="background: #dc3545;" class="px-1">S</span>
                Waves)
              </div>
              <template v-slot:activator="{ on }">
                <v-btn
                  dense
                  text
                  v-bind:disabled="raysInScene === false"
                  v-on="on"
                  max-width="40"
                  min-width="40"
                  height="34"
                >
                  <v-icon v-text="`$rays`" />
                </v-btn>
              </template>
            </v-tooltip>
          </v-btn-toggle>
        </v-layout>
        <v-layout d-flex align-center>
          <v-select
            :class="$style.toolbarSelect"
            v-model="rayFilterMode"
            :items="rayFilterModes"
            item-text="label"
            item-value="value"
            label="Ray Filter Mode"
            v-bind:disabled="raysInScene === false"
            solo
            dense
            flat
            return-object
            single-line
            hide-details
            height="34"
          />
        </v-layout>
      </v-layout>

      <v-btn-toggle
        v-model="componentsVisibility"
        multiple
        class="mr-2"
        :class="$style.thinBorder"
      >
        <v-tooltip bottom>
          <span>Show/Hide Catalogue</span>
          <template v-slot:activator="{ on }">
            <v-btn
              text
              value="catalogue"
              v-on="on"
              max-width="40"
              min-width="40"
              height="36"
            >
              <v-icon v-text="`$catalogue`" />
            </v-btn>
          </template>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Show/Hide Mine</span>
          <template v-slot:activator="{ on }">
            <v-btn
              text
              value="mine"
              v-on="on"
              max-width="40"
              min-width="40"
              height="36"
            >
              <v-icon v-text="`$mines`" />
            </v-btn>
          </template>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Show/Hide Seismic events</span>
          <template v-slot:activator="{ on }">
            <v-btn
              text
              value="seismicEvents"
              v-on="on"
              max-width="40"
              min-width="40"
              height="36"
            >
              <v-icon v-text="`$seismicEvents`" />
            </v-btn>
          </template>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Show/Hide Blast</span>
          <template v-slot:activator="{ on }">
            <v-btn
              text
              value="blast"
              v-on="on"
              max-width="40"
              min-width="40"
              height="36"
            >
              <v-icon v-text="`$blasts`" />
            </v-btn>
          </template>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Show/Hide Historical events</span>
          <template v-slot:activator="{ on }">
            <v-btn
              text
              value="historicEvents"
              v-on="on"
              max-width="40"
              min-width="40"
              height="36"
            >
              <v-icon v-text="`$historicalEvents`" />
            </v-btn>
          </template>
        </v-tooltip>
        <v-tooltip bottom>
          <span>Show/Hide Other events</span>
          <template v-slot:activator="{ on }">
            <v-btn
              text
              value="otherEvents"
              v-on="on"
              max-width="40"
              min-width="40"
              height="36"
            >
              <v-icon v-text="`$otherEvents`" />
            </v-btn>
          </template>
        </v-tooltip>
        <v-divider vertical />
        <v-tooltip bottom>
          <span>Show/Hide Uncertainty</span>
          <template v-slot:activator="{ on }">
            <v-btn
              text
              value="uncertainty"
              v-on="on"
              max-width="40"
              min-width="40"
              height="36"
            >
              <v-icon v-text="`$uncertainty`" />
            </v-btn>
          </template>
        </v-tooltip>
      </v-btn-toggle>

      <v-divider vertical />

      <v-tooltip bottom>
        <span>Toggle Settings</span>
        <template v-slot:activator="{ on }">
          <v-btn
            text
            icon
            @click.stop="advanceMenuVisible = !advanceMenuVisible"
            class="mx-2"
            v-on="on"
          >
            <v-icon v-text="`$settings`" />
          </v-btn>
        </template>
      </v-tooltip>
    </v-layout>
    <v-progress-linear
      indeterminate
      :class="$style.progress"
      :active="!!busyCount"
      height="3"
    />
  </v-app-bar>
  <v-content style="background: darkgray; position: relative;">
    <picking-tooltip>
      <local-view if="localReady" />
    </picking-tooltip>
  </v-content>
</v-app>
