<v-container fluid grid-list-md class="py-0 px-1">
  <v-layout>
    <v-flex>
      <v-treeview
        v-model="mineVisibility"
        :items="mine"
        :selected-color="darkMode ? 'grey lighten-4' : 'grey darken-1'"
        :open="allIds"
        open-on-click
        selectable
        :expand-icon="$vuetify.icons.expandGroup"
        :on-icon="$vuetify.icons.layerOn"
        :off-icon="$vuetify.icons.layerOff"
        :indeterminate-icon="$vuetify.icons.layerIndeterminate"
      />
    </v-flex>
  </v-layout>
</v-container>
