<v-container :class="$style.container" fluid fill-height v-resize="onResize">
  <v-container :class="$style.floatToolbar" fluid >
    <v-layout column >
      <v-tooltip left>
        <span :class="$style.noSelect">Reset camera</span>
        <v-btn
          slot="activator"
          icon
          dark
          small
          v-on:click="resetCamera()"
        >
          <v-icon>{{ $vuetify.icons.resetCamera }}</v-icon>
        </v-btn>
      </v-tooltip>
      <v-tooltip left>
        <span :class="$style.noSelect">Snap view up</span>
        <v-btn
          slot="activator"
          icon
          dark
          small
          v-on:click="snapViewUp()"
        >
          <v-icon>{{ $vuetify.icons.snapViewUp }}</v-icon>
        </v-btn>
      </v-tooltip>
      <v-tooltip left>
        <span :class="$style.noSelect">Pick Center of Rotation</span>
        <v-btn
          slot="activator"
          icon
          dark
          small
          v-on:click="togglePickCenter()"
        >
          <v-icon :color="pickingCenter ? 'green' : 'white'">{{ $vuetify.icons.pickCenter }}</v-icon>
        </v-btn>
      </v-tooltip>
    </v-layout>
  </v-container>
  <div
    :class="$style.tootip"
    :style="tooltipStyle"
    v-show="orientationTooltip"
  >{{ orientationTooltip }}</div>
  <div :class="[$style.renderer, 'js-renderer']" />
</v-container>
