<div class="collapsible-list-group">
  <div class="collapsible-list-title" (click)="toggleCollapse()">
    <mat-icon>{{ collapsed ? "keyboard_arrow_right" : "keyboard_arrow_down" }}</mat-icon>
    <!-- selects the element with the attribute "header" -->
    <ng-content select="[header]"></ng-content>
  </div>
  <div *ngIf="!collapsed" class="collapsible-list-contents">
    <div *ngFor="let item of list">
      <!-- children will be passed "item" as context-->
      <ng-container *ngTemplateOutlet="itemTemplate,context:{ $implicit: item }"></ng-container>
    </div>
  </div>
</div>
