<div :class="$style.container">
  <div :class="tooltipClass" :style="stylePosition">
    <v-container v-if="pickedData" fluid grid-list-md class="pa-1">
      <v-layout row wrap align-center v-if="pickedData.name" style="width: 200px; text-align: center;">
        <v-flex xs12 class="px-3">
          {{ pickedData.station_location_code }}.{{ pickedData.location_code}} ({{ pickedData.code}})
        </v-flex>
        <v-layout row wrap align-center v-if="sensorStatus">
          <v-flex xs4 class="px-3">
            Integrity
          </v-flex>
          <v-flex xs8 class="px-3">
            {{ Math.floor(sensorStatus.integrity * 100) }}%
          </v-flex>
          <v-flex xs4 class="px-3">
            Amplitude
          </v-flex>
          <v-flex xs8 class="px-3" v-html="speedUnit(sensorStatus.amplitude)" />
          <v-flex xs12 class="px-3" v-html="toMineTime(sensorStatus.update_timestamp)" />
        </v-layout>
      </v-layout>
      <v-layout v-if="pickedData.event_type" :class="$style.title">
        <v-flex xs12 class="py-0 my-0">
          {{ eventType }}
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center v-if="!pickedData.name && pickedData.time" style="width: 250px;">
        <v-flex xs2 :class="$style.center">
          <v-icon color="#333">{{ $vuetify.icons.pickedDate }}</v-icon>
        </v-flex>
        <v-flex xs4 :class="$style.center">
           {{ dateHelper.formatEpochDate(pickedData.time) }}
        </v-flex>
        <v-flex xs2 :class="$style.center">
          <v-icon
            color="#333"
            v-if="pickedData.magnitude > -999"
          >{{ $vuetify.icons.quakeTrace }}</v-icon>
        </v-flex>
        <v-flex xs4>
          <span v-if="pickedData.magnitude > -999">
            {{ (pickedData.magnitude || 0).toFixed(2) }} (Mw)
          </span>
        </v-flex>
        <v-flex xs2 :class="$style.center">
          <v-icon color="#333">{{ $vuetify.icons.pickedTime }}</v-icon>
        </v-flex>
        <v-flex xs4 :class="$style.center">
           {{ dateHelper.formatEpochTime(pickedData.time) }}
        </v-flex>
        <v-flex xs2 :class="$style.center">
          <v-icon color="#333">{{ $vuetify.icons.pickedPosition }}</v-icon>
        </v-flex>
        <v-flex xs4>
          {{ (pickedData.worldPosition[2] || 0).toFixed(2) }} m
        </v-flex>
        <v-flex xs2 :class="$style.center" v-show="pickedData.uncertainty > 0">
          <v-icon color="#333">{{ $vuetify.icons.uncertainty }}</v-icon>
        </v-flex>
        <v-flex xs4 v-show="pickedData.uncertainty > 0">
          {{ Math.round(pickedData.uncertainty || 0) }}
        </v-flex>
        <v-flex xs2 :class="$style.center" v-show="rayCount !== undefined">
          <v-icon color="#333">{{ $vuetify.icons.rays }}</v-icon>
        </v-flex>
        <v-flex xs4 v-show="rayCount !== undefined" >
          {{rayCount}}
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center v-if="!pickedData.name && pickedData.time" style="width: 250px; text-align: center;">
        <v-flex xs6 v-show="pickedData.corner_frequency" >
          Corner freq.
        </v-flex>
        <v-flex xs6 v-show="pickedData.corner_frequency">
          {{ Math.round(pickedData.corner_frequency || 0) }} (Hz)
        </v-flex>
        <v-flex xs6 v-show="pickedData.time_residual > 0">
          RMS residual
        </v-flex>
        <v-flex xs6 v-show="pickedData.time_residual > 0">
          {{ Math.round(pickedData.time_residual || 0) }} (ms)
        </v-flex>
        <v-flex xs6 v-show="pickedData.npick > 0">
          Picks
        </v-flex>
        <v-flex xs6 v-show="pickedData.npick > 0">
          {{ Math.round(pickedData.npick || 0) }}
        </v-flex>
      </v-layout>
    </v-container>
  </div>
  <slot />
</div>
