<div :class="$style.container">
  <div :class="tooltipClass" :style="stylePosition">
    <v-container v-if="pickedData" fluid grid-list-md class="pa-1">
      <v-layout row wrap align-center>
        <v-flex xs2 :class="$style.center">
          <v-icon color="#333">{{ $vuetify.icons.pickedDate }}</v-icon>
        </v-flex>
        <v-flex xs4 :class="$style.center">
           {{ dateHelper.formatEpochDate(pickedData.time) }}
        </v-flex>
        <v-flex xs2 :class="$style.center">
          <v-icon color="#333">{{ $vuetify.icons.quakeTrace }}</v-icon>
        </v-flex>
        <v-flex xs4>
          {{ (pickedData.magnitude || 0).toFixed(2) }}
        </v-flex>
        <v-flex xs2 :class="$style.center">
          <v-icon color="#333">{{ $vuetify.icons.pickedTime }}</v-icon>
        </v-flex>
        <v-flex xs4 :class="$style.center">
           {{ dateHelper.formatEpochTime(pickedData.time) }}
        </v-flex>
        <v-flex xs2 :class="$style.center">
          <v-icon color="#333">{{ $vuetify.icons.pickedPosition }}</v-icon>
        </v-flex>
        <v-flex xs4>
          {{ (pickedData.worldPosition[2] || 0).toFixed(2) }} m
        </v-flex>
        <v-flex xs2 :class="$style.center" v-show="pickedData.uncertainty > 0">
          <v-icon color="#333">{{ $vuetify.icons.uncertainty }}</v-icon>
        </v-flex>
        <v-flex xs4 v-show="pickedData.uncertainty > 0">
          {{ (pickedData.uncertainty || 0).toFixed(2) }}
        </v-flex>
        <v-flex xs2 :class="$style.center" v-show="rayCount !== undefined">
          <v-icon color="#333">{{ $vuetify.icons.rays }}</v-icon>
        </v-flex>
        <v-flex xs4 >
          {{rayCount}}
        </v-flex>
      </v-layout>
    </v-container>
  </div>
  <slot />
</div>
